{%- assign page_content = page.content -%}
{%- assign formId = 'contact_form_page' -%}
{%- if settings.show_map and settings.map != blank %}<style>.se_contact_map iframe {margin-bottom: 0;padding: 0;display: block;width: 100%;border: none;}</style><div class="se_contact_map">{{settings.map}}</div>{% endif -%}
<div class="contact-ss pt__100 pb__100">
  
  
  
  <div class="col-lg-3 col-md-4 col-10 get-in-touch-ss">
    
    
<!--      <div class="">
    
       <h3>Contact</h3>
       <a href="/"><svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M20.7788 14.5801C19.2972 14.5824 17.8245 14.358 16.4152 13.9152C16.2005 13.8499 15.9716 13.8414 15.7523 13.8907C15.5331 13.94 15.3315 14.0453 15.1685 14.1956L12.4798 16.7621C9.02244 15.0889 6.20265 12.3969 4.42633 9.07369L7.11496 6.49514C7.27645 6.34981 7.39121 6.16248 7.44546 5.9556C7.49972 5.74872 7.49117 5.53108 7.42084 5.32879C6.95734 3.9862 6.72197 2.5797 6.7239 1.16413C6.72002 0.852653 6.58888 0.555339 6.35917 0.337195C6.12946 0.119052 5.81986 -0.00217285 5.49806 2.94916e-05H1.22196C0.900443 -0.0011745 0.591487 0.120798 0.362545 0.33932C0.133603 0.557842 0.0032701 0.855163 0 1.16638C0.0188486 3.78929 0.571253 6.38293 1.62567 8.79918C2.68009 11.2154 4.21586 13.407 6.14531 15.2487C8.07475 17.0904 10.3601 18.5462 12.8708 19.5329C15.3815 20.5196 18.0684 21.018 20.778 20.9995C21.0996 21.0007 21.4085 20.8787 21.6375 20.6602C21.8664 20.4417 21.9967 20.1444 22 19.8332V15.7495C21.9967 15.4382 21.8664 15.1409 21.6375 14.9224C21.4085 14.7039 21.0996 14.5819 20.778 14.5831L20.7788 14.5801Z" fill="#7AD8E7"/>
                   </svg>
                   <span>+01234-5688765</span>
       </a>
       
     </div> -->
    
     <div class="inner-ss">
    
       <h4>Email Address</h4>
       <a href="/"><svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M21.6 0H2.4C1.08027 0 0.0121635 0.956216 0.0121635 2.12486L0 14.8751C0 16.0438 1.08027 17 2.4 17H21.6C22.9197 17 24 16.0438 24 14.8751V2.12486C24 0.956216 22.9197 0 21.6 0ZM21.6 4.25027L12 9.5627L2.4 4.25027V2.12486L12 7.43729L21.6 2.12486V4.25027Z" fill="#7AD8E7"/>
                   </svg>
                   <span>support@wearedip.co</span>
       </a>
       
     </div>
    
    <div class="inner-ss">
    
       <h4>Location</h4>
       <a href="/"><svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M8.99998 23C7.37605 21.6236 5.87081 20.1147 4.49999 18.489C2.44285 16.0477 1.13e-06 12.4118 1.13e-06 8.94718C-0.000891023 7.17776 0.52651 5.44784 1.51546 3.97635C2.50441 2.50487 3.91045 1.35797 5.55565 0.680805C7.20084 0.00363676 9.01123 -0.17336 10.7577 0.172213C12.5042 0.517786 14.1082 1.3704 15.3668 2.62214C16.2048 3.45108 16.869 4.43692 17.321 5.52261C17.7729 6.6083 18.0037 7.77228 18 8.94718C18 12.4118 15.5571 16.0477 13.5 18.489C12.1291 20.1147 10.6239 21.6236 8.99998 23ZM8.99998 5.1146C7.977 5.1146 6.99593 5.51839 6.27257 6.23714C5.54922 6.95589 5.14284 7.93072 5.14284 8.94718C5.14284 9.96365 5.54922 10.9385 6.27257 11.6572C6.99593 12.376 7.977 12.7798 8.99998 12.7798C10.023 12.7798 11.004 12.376 11.7274 11.6572C12.4507 10.9385 12.8571 9.96365 12.8571 8.94718C12.8571 7.93072 12.4507 6.95589 11.7274 6.23714C11.004 5.51839 10.023 5.1146 8.99998 5.1146Z" fill="#7AD8E7"/>
                   </svg>
                   <span>Dip, The Park Olney Road, Olney<br>MK46 5JZ United Kingdom</span>
       </a>
       
     </div>
    
    
     <div class="">
    
       <h4>Follow Us</h4>
       
       <a target="_blank" href="https://www.instagram.com/wearedip.co/?hl=en"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <rect width="30" height="30" fill="white"/>
                   <path d="M15.002 9.89742C14.1905 9.89742 13.3973 10.1381 12.7225 10.5891C12.0478 11.0401 11.5219 11.6811 11.2114 12.431C10.9008 13.181 10.8196 14.0062 10.9779 14.8024C11.1362 15.5985 11.527 16.3298 12.1008 16.9038C12.6746 17.4778 13.4057 17.8687 14.2016 18.027C14.9975 18.1854 15.8225 18.1041 16.5722 17.7935C17.3219 17.4829 17.9627 16.9568 18.4136 16.2819C18.8644 15.6069 19.105 14.8134 19.105 14.0017C19.1061 13.4624 19.0007 12.9282 18.7949 12.4298C18.5891 11.9313 18.2869 11.4784 17.9057 11.0971C17.5245 10.7158 17.0718 10.4135 16.5735 10.2076C16.0752 10.0018 15.5412 9.89633 15.002 9.89742V9.89742ZM15.002 16.667C14.4749 16.6663 13.9597 16.5093 13.5217 16.2159C13.0837 15.9225 12.7425 15.5057 12.5412 15.0183C12.3399 14.531 12.2876 13.9948 12.3908 13.4777C12.4941 12.9606 12.7482 12.4857 13.1212 12.1131C13.4942 11.7404 13.9693 11.4867 14.4864 11.3841C15.0035 11.2814 15.5394 11.3345 16.0264 11.5364C16.5133 11.7384 16.9295 12.0802 17.2224 12.5187C17.5152 12.9572 17.6715 13.4727 17.6715 14C17.6702 14.7069 17.3888 15.3845 16.8891 15.8844C16.3894 16.3843 15.712 16.6657 15.0053 16.667H15.002ZM20.2276 9.72996C20.2276 9.91926 20.1715 10.1043 20.0664 10.2617C19.9612 10.4191 19.8118 10.5418 19.637 10.6142C19.4621 10.6867 19.2697 10.7056 19.0841 10.6687C18.8985 10.6318 18.728 10.5406 18.5942 10.4067C18.4604 10.2729 18.3693 10.1023 18.3324 9.91669C18.2955 9.73102 18.3144 9.53858 18.3868 9.36369C18.4592 9.1888 18.5819 9.03932 18.7392 8.93415C18.8966 8.82899 19.0816 8.77285 19.2708 8.77285C19.3965 8.77253 19.5211 8.79706 19.6373 8.84505C19.7536 8.89303 19.8592 8.96352 19.9481 9.05246C20.037 9.1414 20.1075 9.24704 20.1555 9.36331C20.2034 9.47958 20.228 9.60418 20.2276 9.72996V9.72996ZM22.9438 10.701C22.97 9.45713 22.5057 8.2529 21.6514 7.34868C20.7456 6.49695 19.543 6.03301 18.3 6.05584C16.9797 5.98114 13.0211 5.98114 11.7008 6.05584C10.4583 6.03129 9.25551 6.49382 8.34943 7.34457C7.49633 8.24991 7.03228 9.45386 7.05698 10.6977C6.98231 12.0185 6.98231 15.9783 7.05698 17.299C7.03082 18.5429 7.49509 19.7471 8.34943 20.6514C9.25552 21.5026 10.4579 21.9664 11.7008 21.9442C13.0211 22.0189 16.9797 22.0189 18.3 21.9442C19.5436 21.9704 20.7474 21.506 21.6514 20.6514C22.5028 19.7453 22.9666 18.5423 22.9438 17.299C23.0185 15.9783 23.0185 12.0218 22.9438 10.701V10.701ZM21.2378 18.7166C21.1021 19.0609 20.8971 19.3735 20.6355 19.6352C20.3739 19.8968 20.0613 20.1019 19.7172 20.2377C18.6644 20.6555 16.1657 20.5586 15.002 20.5586C13.8384 20.5586 11.3364 20.6514 10.286 20.2377C9.94192 20.1019 9.62936 19.8968 9.36778 19.6352C9.1062 19.3735 8.90119 19.0609 8.76547 18.7166C8.34779 17.6635 8.44462 15.164 8.44462 14C8.44462 12.8361 8.35189 10.3333 8.76547 9.28342C8.90119 8.93918 9.1062 8.62653 9.36778 8.36488C9.62936 8.10322 9.94192 7.89814 10.286 7.76239C11.3389 7.34457 13.8376 7.44143 15.0012 7.44143C16.1648 7.44143 18.6668 7.34868 19.7164 7.76239C20.0605 7.89814 20.3731 8.10322 20.6347 8.36488C20.8962 8.62653 21.1012 8.93918 21.237 9.28342C21.6546 10.3366 21.5578 12.8361 21.5578 14C21.5578 15.164 21.6555 17.6668 21.2378 18.7166Z" fill="#7AD8E7"/>
                   </svg>
       </a>
       
       
       <a target="_blank" href="https://www.facebook.com/We-Are-Dip-111324671460111" style="margin-left:10px;"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <rect width="30" height="30" fill="white"/>
                   <path d="M18.6849 14.5093H16.285V23H12.6987V14.5093H11V11.5175H12.6946V9.5751C12.6885 9.05098 12.7819 8.5304 12.97 8.04014C13.1769 7.46967 13.555 6.9748 14.0541 6.62139C14.7184 6.18753 15.5046 5.97153 16.3007 6.00413L18.9603 6.02366V8.93828H17.029C16.8515 8.93203 16.6773 8.98696 16.5364 9.09363C16.4465 9.17799 16.3769 9.28103 16.3325 9.39529C16.2881 9.50954 16.2701 9.63214 16.2798 9.75412V11.5226H19.0031L18.6849 14.5093Z" fill="#7AD8E7"/>
                   </svg>
       </a>

     </div>
    
    
  </div>
  

      <div class="contact-form-ss col-10 col-md-7 mb__20">
        
      
        
         {%- form 'contact', id: formId -%}
           {%- render 'form-status', form: form, form_id: formId -%}
           
             <h3 class="mb__20">{{ 'contact.form.title' | t }}</h3>
           <p>
               <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
               <input required="required" type="text" id="{{ formId }}-name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
           </p>
           <p>
               <label for="{{ formId }}-email">{{ 'contact.form.email' | t }}</label>
               <input
                 required="required"
                 type="email"
                 id="{{ formId }}-email"
                 name="contact[email]"
                 autocorrect="off"
                 autocapitalize="off"
                 value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                 aria-required="true"
                 required="required"
                 {%- if form.errors contains 'email' -%}
                   class="input--error"
                   aria-invalid="true"
                   aria-describedby="{{ formId }}-email-error"
                 {%- endif -%}
                 >
               {%- if form.errors contains 'email' -%}
                 <span id="{{ formId}}-email-error" class="input-error-message"><i class="facl facl-attention cr mr__5"></i>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
               {%- endif -%}
            </p>

           {%- unless page_content contains 'no_phone' -%}
           <p>
           <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
           <input type="tel" id="{{ formId }}-phone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
           </p>
           {%- endunless -%}
           
           <p>
           <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
           <textarea rows="20" id="{{ formId }}-message" name="contact[body]" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>
           </p>
           <input type="submit" class="button w__50" value="{{ 'contact.form.submit' | t }}">

         {%- endform -%}
      </div>
    {%- if page_content.size > 0 %}<div class="contact-content col-12 col-md-6">{{ page_content }}</div>{% endif -%}

</div>
