[t4splitlz]
{%- liquid
  if request.design_mode
    assign product = section.settings.demo_pr
    if product.id == blank 
      assign cat_all = collections['all']
      assign avai_cat_all = cat_all.products | where: "available",true 
      assign product = avai_cat_all.first | default:cat_all.first
    endif
  endif 
  assign se_stts = section.settings
  assign image_0 = settings.placeholder_img
  assign rtl = settings.use_rtl
  assign eq_imgtb = se_stts.ratio_img_main
  assign img_size_main = se_stts.img_size_main
  assign img_pos_main = se_stts.img_pos_main
  assign values = product.options_with_values | map: 'values' | join: ',' | downcase
  assign images = product.media | where: "media_type", "image"
  assign ops_name = product.options_with_values | map:'name'
  assign ops_name_1 = product.options_by_name[ops_name[0]].values
  assign ops_name_2 = product.options_by_name[ops_name[1]].values
  assign ops_name_3 = product.options_by_name[ops_name[2]].values
  if eq_imgtb == 'ratio_img1'
     assign ratio = pr_media.first.preview_image.aspect_ratio
  endif
  if settings.show_first_img 
   assign featured_image = product.featured_image
  else 
   assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image
  endif -%}

<div class="product-quickview single-product-content img_action_zoom" data-featured-product-se data-id="_qv" id="productqv-{{product.id}}">
  <div class="row product-image-summary">
    <div class="col-lg-7 col-md-6 col-12 product-images pr oh">
      {%- render 'product_labels',product:product -%}
      <div class="images">
        <div class="product-images-slider tc equal_nt{% if product.images.size > 1 %} nt_slider nt_carousel_qv p-thumb_qv{% endif %} {{img_size_main}} {{eq_imgtb}} position_{{img_pos_main}}" data-flickityt4s-js='{"initialIndex": ".img_id_{{featured_image.id}}","fade":true,"cellSelector": ".q-item:not(.is_varhide)","cellAlign": "center","wrapAround": true,"autoPlay": false,"prevNextButtons":true,"adaptiveHeight": true,"imagesLoaded": false, "lazyload": 0,"dragThreshold" : 0,"pageDots": true,"rightToLeft": {{rtl}} }'>
           {%- if images.size > 0 -%}
             {%- for image in images -%}
                {%- liquid
                  assign alt = image.alt
                  if alt contains 't4_360'
                    break
                  endif

                  if alt contains '_' or alt contains '|'
                   assign img_alt = alt | split:'|' | first | strip | downcase
                   
                    if img_alt contains 't4option' 

                       assign alt_arr0 = img_alt |remove:'t4option'| split:'_'
                       assign index_alt = alt_arr0 | first | plus:0
                       assign index_alt2 = alt_arr0 | last | plus:0
                       if index_alt == 0
                         assign ops_name_arr = ops_name_1
                       elsif index_alt == 1
                         assign ops_name_arr = ops_name_2
                       else
                         assign ops_name_arr = ops_name_3
                       endif
                       assign alt_arr = ops_name[index_alt] | append:'_' | append:ops_name_arr[index_alt2] | split:'_' 
                     
                    else
                      assign alt_arr = img_alt | split:'_'
                    endif
                    assign txt_alt = alt | split:'|' | last | escape | strip
                    
                  else
                   assign alt_arr = 'not4 ntt4' | split:' ' 
                   assign txt_alt = alt
                  endif
                  assign ratio = image.aspect_ratio -%}

                <div data-grname="{{alt_arr | first | handleize }}" data-grpvl="{{alt_arr | last | handleize}}" class="img_id_{{image.id}} js-sl-item q-item sp-pr-gallery__img w__100{%- if values contains img_alt %} bc_{{img_alt | handleize }}{%- endif %}" data-mdid="{{image.id}}" data-mdtype="image">
                   <span class="nt_bg_lz lazyloadt4s" data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{ratio}}" data-sizes="auto"{% if eq_imgtb == 'ratio_imgtrue' or images.size == 1 %} style="padding-top:{{ 1 | divided_by: ratio | times: 100}}%;"{% endif %}></span>
                </div>
             {%- endfor -%}
           {%- elsif image_0 != blank -%}{%- assign ratio = image_0.aspect_ratio -%}

                <div class="img_id_{{image_0.id}} js-sl-item q-item sp-pr-gallery__img w__100" data-mdid="{{image_0.id}}" data-mdtype="image">
                   <span class="nt_bg_lz lazyloadt4s" data-bgset="{{ image_0 | img_url: '1x1' }}" data-ratio="{{ratio}}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: ratio | times: 100}}%;"></span>
                </div>
                
           {%- else -%}

                <img src="https://placehold.jp/1/f5f5f5/f5f5f5/870x1110.png" alt="Kalles shopify placehold">

           {%- endif -%} 
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-12 summary entry-summary pr">
      <div class="summary-inner gecko-scroll-quick"><div class="gecko-scroll-content-quick">{%- render 'pr_summary',section:section,product:product -%}</div></div><!-- .summary -->
      {%- render 'product_js',key_nt:'_qv' -%}
    </div>
  </div>
</div>
{%- if ratio != blank -%}
<style>.nt_carousel_qv.equal_nt.ratio_img1 .nt_bg_lz {padding-top: {{ 1 | divided_by:ratio | times: 100 }}%;}</style>
{%- endif -%}
[t4splitlz]
<style>
  .at-resp-share-element ~ .at-resp-share-element {
    display: none !important;
}
</style>
{%- schema -%}
  {
    "name": "Product Quickview",
    "class": "id_pr_summary hide hidden",
    "max_blocks": 30,
    "settings": [
      {
        "type": "product",
        "id": "demo_pr",
        "label": "Choose a Product demo"
      },
      {
        "type": "header",
        "content": "+ Design Main Image"
      },
      {
        "type": "select",
        "id": "ratio_img_main",
        "label": "Aspect Ratio Main",
        "default": "ratio_imgtrue",
        "options": [
          {
            "group": "Adapt Image",
            "value": "ratio_imgtrue",
            "label": "Adapt to all image"
          },
          {
            "group": "Adapt Image",
            "value": "ratio_img1",
            "label": "Adapt to first image"
          },
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "ratio_nt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "group": "Custom",
            "value": "ratio_cus1",
            "label": "Ratio Custom 1"
          },
          {
            "group": "Custom",
            "value": "ratio_cus2",
            "label": "Ratio Custom 2"
          },
          {
            "group": "Custom",
            "value": "ratio_cus3",
            "label": "Ratio Custom 3"
          },
          {
            "group": "Custom",
            "value": "ratio_cus4",
            "label": "Ratio Custom 4"
          }
        ]
      },
      {
        "type": "select",
        "id": "img_size_main",
        "label": "Image Size Main",
        "default": "nt_contain",
        "options": [
          {
            "value": "nt_cover",
            "label": "Full"
          },
          {
            "value": "nt_contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "img_pos_main",
        "info": "The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position Main",
        "default": "8"
      }/*,
      {
        "type": "header",
        "content": "+ Collapsible tab"
      },
      {
      "type": "checkbox",
      "id": "auto",
      "label": "Enable auto open?",
      "info": "Only working with block 'Collapsible'",
      "default": false
      },
      {
        "type": "header",
        "content": "+ Design Thumb Image"
      },
      {
        "type": "select",
        "id": "ratio_img_thumb",
        "label": "Aspect Ratio Thumb",
        "default": "ratio_imgtrue",
        "options": [
          {
            "group": "Adapt Image",
            "value": "ratio_imgtrue",
            "label": "Adapt to all image"
          },
          {
            "group": "Adapt Image",
            "value": "ratio_img1",
            "label": "Adapt to first image"
          },
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "ratio_nt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "group": "Custom",
            "value": "ratio_cus1",
            "label": "Ratio Custom 1"
          },
          {
            "group": "Custom",
            "value": "ratio_cus2",
            "label": "Ratio Custom 2"
          },
          {
            "group": "Custom",
            "value": "ratio_cus3",
            "label": "Ratio Custom 3"
          },
          {
            "group": "Custom",
            "value": "ratio_cus4",
            "label": "Ratio Custom 4"
          }
        ]
      },
      {
        "type": "select",
        "id": "img_size_thumb",
        "label": "Image Size Thumb",
        "default": "nt_contain",
        "options": [
          {
            "value": "nt_cover",
            "label": "Full"
          },
          {
            "value": "nt_contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "img_pos_thumb",
        "info": "The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position Thumb",
        "default": "8"
      }*/
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Product Title",
        "limit": 1,
        "settings": [
            {
              "type": "range",
              "id": "size",
              "min": 10,
              "max": 60,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 16
            }
        ]
      },
      {
        "type": "pricereview",
        "name": "Product Price, reivew",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "price",
            "options": [
              {
                "value": "0",
                "label": "None"
              },
              {
                "value": "1",
                "label": "$39.00 – $59.00"
              },
              {
                "value": "2",
                "label": "From $39.00"
              }
            ],
            "label": "Price varies settings",
            "default": "0"
          },
          {
            "type": "select",
            "id": "txt_sale",
            "options": [
              {
                "value": "0",
                "label": "None"
              },
              {
                "value": "1",
                "label": "Percentage"
              },
              {
                "value": "2",
                "label": "Fixed amount"
              }
            ],
            "label": "Text Save",
            "default": "0"
          },
          {
           "type": "checkbox",
           "id": "rating",
           "label": "Use Rating?",
           "default": true
          },
          {
            "type": "liquid",
            "id": "review_liquid",
            "label": "Add Snippets Liquid",
            "info": "Add app snippets reviews to show star rating on product page. Will working when you use 'Other app review'"
          }
        ]
      },
      {
        "type": "des",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "des",
            "options": [
              {
                "value": "1",
                "label": "Full description"
              },
              {
                "value": "2",
                "label": "Short description"
              }
            ],
            "label": "Description mode:",
            "default": "2"
          },
          {
            "type": "paragraph",
            "content": "—————————————————"
          },
          {
            "type": "paragraph",
            "content": "== Short description settings:"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Short description",
            "info": "This page content will appear. Short description page that will be displayed for each product content if you don't set metafield excerpt for each product content."
          },
        {
          "type": "number",
          "id": "length",
          "label": "Excerpt length (integer)",
          "info": "Number of words that will be displayed for each product content if you don't set short description page or set metafield excerpt for each product content.",
          "default": 31
        },
        {
         "type": "checkbox",
         "id": "readm",
         "label": "Use Read more?",
         "default": false
        },
        {
         "type": "text",
         "id": "readm_txt",
         "label": "Read more title",
         "default": "Read more"
        }
        ]
      },
      {
        "type": "frm",
        "name": "Product Form",
        "limit": 1,
        "settings": [
         {
           "type": "select",
           "id": "ani",
           "options": [
             {
               "value": "none",
               "label": "None"
             },
             {
               "value": "bounce",
               "label": "Bounce"
             },
             {
               "value": "tada",
               "label": "Tada"
             },
             {
               "value": "swing",
               "label": "Swing"
             },
             {
               "value": "flash",
               "label": "Flash"
             },
             {
               "value": "fadeIn",
               "label": "FadeIn"
             },
             {
               "value": "heartBeat",
               "label": "HeartBeat"
             },
             {
               "value": "shake",
               "label": "Shake"
             }
           ],
           "label": "Add to cart animation"
         },
          {
            "type": "range",
            "id": "time",
            "min": 2,
            "max": 40,
            "step": 1,
            "label": "Loop time (seconnds)",
            "info": "Loop time add to cart animation",
            "unit": "sec",
            "default": 6
          },
         {
           "type": "select",
           "id": "btn_des",
           "options": [
             {
               "value": "1",
               "label": "Design 1"
             },
             {
               "value": "2",
               "label": "Design 2"
             },
             {
               "value": "3",
               "label": "Design 3"
             }
           ],
           "label": "Button Design"
         },
         {
            "type": "select",
            "id": "btn_txt",
            "default": "3",
            "options": [
              {
                "value": "0",
                "label": "None"
              },
              {
                "value": "1",
                "label": "Lowercase"
              },
              {
                "value": "2",
                "label": "Capitalize"
              },
              {
                "value": "3",
                "label": "Uppercase"
              }
            ],
            "label": "Button transform Text:"
         },
         {
           "type": "header",
           "content": "Product Swatch"
         },
         {
           "type": "select",
           "id": "swatch_design",
           "default": "2",
           "options": [
             {
               "group": "Circle:",
               "value": "1",
               "label": "Circle"
             },
             {
               "group": "Circle:",
               "value": "2",
               "label": "Circle + color"
             },
             {
               "group": "Radio:",
               "value": "3",
               "label": "Radio"
             },
             {
               "group": "Radio:",
               "value": "4",
               "label": "Radio + color"
             },
             {
               "group": "Radio:",
               "value": "5",
               "label": "Radio full width"
             },
             {
               "group": "Radio:",
               "value": "6",
               "label": "Radio full width + color"
             },
             {
               "group": "Rectangle:",
               "value": "7",
               "label": "Rectangle"
             },
             {
               "group": "Rectangle:",
               "value": "8",
               "label": "Rectangle + color"
             },
             {
               "group": "Simple:",
               "value": "9",
               "label": "Simple"
             },
             {
               "group": "Simple:",
               "value": "10",
               "label": "Simple + color"
             }
           ],
           "label": "Swatch design setting"
         },
         {
           "type": "select",
           "id": "style_color",
           "options": [
             {
               "value": "1",
               "label": "Swatch color circle"
             },
             {
               "value": "2",
               "label": "Swatch color square"
             }
           ],
           "label": "Swatch color setting for Design"
         },
         {
           "type": "select",
           "id": "swatch_style",
           "options": [
             {
               "value": "1",
               "label": "Swatch color (Default or Upload)"
             },
             {
               "value": "2",
               "label": "Swatch image variant"
             }
           ],
           "label": "Swatch Layout setting for color/img"
         },
         {
           "type": "select",
           "id": "swatch_size",
           "options": [
             {
               "value": "small",
               "label": "Small"
             },
             {
               "value": "medium",
               "label": "Medium"
             },
             {
               "value": "large",
               "label": "Large"
             },
             {
               "value": "exlarge",
               "label": "Extra Large"
             }
           ],
           "label": "Swatch color setting for size",
           "default": "medium"
         },
         {
           "type": "checkbox",
           "id": "show_qty",
           "label": "Show quantity selector",
           "default": true
         },
         {
           "type": "checkbox",
           "id": "btn_atc_full",
           "label": "Use Add to cart full width?",
           "default": false
         },
         {
           "type": "checkbox",
           "id": "enable_payment_btn",
           "label": "Show dynamic checkout button",
           "info": "Lets customers check out directly using a familiar payment method. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)",
           "default": false
         }
        ]
      },
      {
        "type": "size",
        "name": "Size Chart, Delivery, Ask",
        "limit": 1,
        "settings": [
         {
           "type": "header",
           "content": "== Size Chart"
         },
         {
           "type": "select",
           "id": "size_chart",
           "label": "Show Size chart:",
           "default": "3",
           "options": [
             {
               "value": "1",
               "label": "None"
             },
             {
               "value": "2",
               "label": "Only product has variant name 'size'"
             },
             {
               "value": "3",
               "label": "All product"
             }
           ]
         },
         {
           "type": "select",
           "id": "pos_sizeg",
           "label": "Position show Size chart:",
           "default": "1",
           "options": [
             {
               "value": "1",
               "label": "Default"
             },
             {
               "value": "2",
               "label": "Show on swatch variant name 'size'"
             }
           ]
         },
        {
          "type": "select",
          "id": "sc_type",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "HTML"
            },
            {
              "value": "2",
              "label": "IMAGE"
            }
          ],
          "label": "Size Chart Type: "
        },
        {
          "type": "paragraph",
          "content": "—————————————————"
        },
        {
          "type": "page",
          "id": "page",
          "label": "HTML Size Chart",
          "info": "This page content will appear."
        },
        {
          "type": "paragraph",
          "content": "—————————————————"
         },
         {
           "type": "image_picker",
           "id": "image",
           "label": "IMAGE Size Chart"
         },
         {
          "type": "paragraph",
          "content": "—————————————————"
         },
         {
           "type": "textarea",
           "id": "size_ck",
           "label": "Enter variant name you want has size guide",
           "info": "Eg: size,sizes,Größe"
         },
         {
           "type": "header",
           "content": "== Delivery & Return"
         },
         {
           "type": "checkbox",
           "id": "delivery",
           "label": "Show Delivery & Return?",
           "default": false
         },
         {
           "type": "page",
           "id": "page_dr",
           "label": "Add page Delivery & Return",
            "info": "This page content will appear."
         },
         {
           "type": "header",
           "content": "== Ask a question"
         },
         {
           "type": "checkbox",
           "id": "ask",
           "label": "Show Ask a question?",
           "default": false
         }/*,
         {
           "type": "page",
           "id": "page_ask",
           "label": "Add page Ask a question"
         }*/
        ]
      },
      {
        "type": "meta",
        "name": "Product meta",
        "limit": 1,
        "settings": [
         {
           "type": "checkbox",
           "id": "show_pr_vendor",
           "label": "Show Product vendors",
           "default": true
         },
         {
           "type": "checkbox",
           "id": "show_sku",
           "label": "Show Sku?",
           "default": true
         },
         {
           "type": "checkbox",
           "id": "show_barcode",
           "label": "Show Barcode?",
           "default": false
         },
         {
           "type": "checkbox",
           "id": "show_available",
           "label": "Show Available?",
           "default": true
         },
         {
           "type": "checkbox",
           "id": "show_category_product",
           "label": "Show Category product?",
           "default": true
         },
         {
           "type": "checkbox",
           "id": "show_tag_product",
           "label": "Show product's tags?",
           "default": true
         }
        ]
      },
      {
        "type": "social",
        "name": "Product social",
        "limit": 1,
        "settings": [
         {
           "type": "select",
           "id": "class",
           "label": "Social align",
           "default": "tc",
           "options": [
             {
               "value": "tdf",
               "label": "Default"
             },
             {
               "value": "tc",
               "label": "Center"
             }
           ]
         }
         ]
      },
      {
        "type": "countdown",
        "name": "Countdown Timer",
        "limit": 1,
        "settings": [
         {
           "type": "paragraph",
           "content": "Display a countdown timer in your product page."
         },
         {
            "type": "select",
            "id": "source",
            "label": "Show Countdown Timer:",
            "default": "1",
            "options": [
              {
                "value": "1",
                "label": "All products"
              },
              {
                "value": "2",
                "label": "Only product had tag 'has_stock_countdown'"
              }
            ]
          },
         /*{
           "type": "checkbox",
           "id": "timezone",
           "label": "Use General timezone?",
           "info":"Use to display a countdown accordingly to the General timezone no matter the localtime your computer is.",
           "default": false
         },*/
         {
           "type": "checkbox",
           "id": "loop",
           "label": "Use loop countdown?",
           "info":"Only for countdown Timer Loop In A Day",
           "default": false
         },
         {
            "type": "select",
            "id": "icon",
            "label": "ICON / IMG:",
            "default": "2",
            "options": [
              {
                "value": "1",
                "label": "None"
              },
              {
                "value": "2",
                "label": "Icon"
              },
              {
                "value": "3",
                "label": "Image"
              }
            ]
          },
         {
           "type": "text",
           "id": "icon_name",
           "label": "Icon name",
           "default": "stopwatch",
           "info": "[Get name icon](https://icons8.com/line-awesome)"
         },
         {
           "type": "image_picker",
           "id": "img",
           "label": "Image",
           "info": "25x25 recommend"
         },
         {
           "type": "checkbox",
           "id": "fade",
           "label": "Use fade animation?",
           "default": true
         },
         {
            "type": "select",
            "id": "al",
            "label": "Text Align",
            "default": "tc",
            "options": [
              {
                "value": "tl",
                "label": "Text left"
              },
              {
                "value": "tc",
                "label": "Text center"
              },
              {
                "value": "tr",
                "label": "Text right"
              }
            ]
          },
         {
           "type": "textarea",
           "id": "mess",
           "label": "Message",
           "default": "Hurry up! Sale Ends in",
           "placeholder": "Hurry up! Sale Ends in"
         },
          {
            "type": "range",
            "id": "size",
            "min": 14,
            "max": 50,
            "step": 1,
            "label": "Font size",
            "unit": "px",
            "default": 16
          },
         {
           "type": "textarea",
           "id": "stock_time",
           "label": "Countdown Timer Loop In A Day",
           "default": "8:00:00,16:00:00,23:59:59",
           "placeholder": "8:00:00,16:00:00,23:59:59"
         },
         {
           "type": "text",
           "id": "day",
           "label": "Days",
           "default": "days",
           "placeholder": "days"
         },
         {
           "type": "text",
           "id": "hr",
           "label": "Hours",
           "default": "hours",
           "placeholder": "hours"
         },
         {
           "type": "text",
           "id": "min",
           "label": "mins",
           "default": "mins",
           "placeholder": "mins"
         },
         {
           "type": "text",
           "id": "sec",
           "label": "Secs",
           "default": "secs",
           "placeholder": "secs"
         },
         {
           "type": "paragraph",
           "content": "Hour of the day, 24-hour clock (00..23), Minute of the hour (00..59), Second of the minute (00..59)"
         },
         {
           "type": "select",
           "id": "cd_style",
           "label": "Countdown Design",
           "default": "dark",
           "options": [
             {
               "value": "light",
               "label": "Light"
             },
             {
               "value": "dark",
               "label": "Dark"
             },
             {
               "value": "dark_2",
               "label": "Dark 2"
             },
             {
               "value": "dark_3",
               "label": "Dark 3"
             }
           ]
         },
         {
           "type": "paragraph",
           "content": "Metafields product countdown, Countdown to the end sale date will be shown. Be sure you have set final date of the product sale price. pr_metafields_meta.countdown ( 2019/08/18 ) or ( 2019/08/18 17:34:56 ) or ( 2019/08/18 07:00:00,2019/08/20 17:34:56,2019/08/25 18:30:25 )"
         }
        ]
      },
      {
        "type": "stock",
        "name": " Inventory Quantity",
        "limit": 1,
        "settings": [
            {
              "type": "paragraph",
              "content": "Display the stock level of your product variant."
            },
           {
              "type": "select",
              "id": "icon",
              "label": "ICON / IMG:",
              "default": "2",
              "options": [
                {
                  "value": "1",
                  "label": "None"
                },
                {
                  "value": "2",
                  "label": "Icon"
                },
                {
                  "value": "3",
                  "label": "Image"
                }
              ]
            },
           {
             "type": "text",
             "id": "icon_name",
             "label": "Icon name",
             "default": "hourglass-half",
             "info": "[Get name icon](https://icons8.com/line-awesome)"
           },
           {
             "type": "image_picker",
             "id": "img",
             "label": "Image",
             "info": "25x25 recommend"
           },
           {
             "type": "checkbox",
             "id": "fade",
             "label": "Use fade animation?",
             "default": true
           },
           {
              "type": "select",
              "id": "st",
              "label": "== Stock:",
              "default": "3",
              "options": [
                {
                  "value": "1",
                  "label": "Only default"
                },
                {
                  "value": "2",
                  "label": "Only random"
                },
                {
                  "value": "3",
                  "label": "Default + Random"
                }
              ]
            },
            {
              "type": "header",
              "content": "== Default"
            },
            {
              "type": "range",
              "id": "qty",
              "min": 1,
              "max": 100,
              "step": 1,
              "unit": "Qty",
              "label": "(X) items",
              "info": "Show when less than (X) items are in stock",
              "default": 10
            },
            {
              "type": "header",
              "content": "== Random"
            },
            {
              "type": "range",
              "id": "total_items",
              "label": "Total items",
              "min": 10,
              "max": 100,
              "step": 10,
              "default": 100
            },
            {
              "type": "range",
              "id": "stock_from",
              "label": "from",
              "min": 1,
              "max": 19,
              "step": 1,
              "default": 12
            },
            {
              "type": "range",
              "id": "stock_to",
              "label": "to",
              "min": 20,
              "max": 70,
              "step": 1,
              "default": 20
            },
            {
              "type": "header",
              "content": "Translate labels"
            },
           {
              "type": "select",
              "id": "al",
              "label": "Text Align",
              "default": "tc",
              "options": [
                {
                  "value": "tl",
                  "label": "Left"
                },
                {
                  "value": "tc",
                  "label": "Center"
                },
                {
                  "value": "tr",
                  "label": "Right"
                }
              ]
            },
            {
              "type": "textarea",
              "id": "mess",
              "label": "Message (You can leave it blank)",
              "info": "Hurry! Only [stock_number] left in stock.",
              "placeholder": "Hurry! Only [stock_number] left in stock.",
              "default": "HURRY! ONLY [stock_number] LEFT IN STOCK."
            },
            {
              "type": "range",
              "id": "size",
              "min": 10,
              "max": 35,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 16
            },
            {
              "type": "paragraph",
              "content": "—————————————————"
            },
            {
             "type": "checkbox",
             "id": "reduce",
             "label": "Enable gradually reduce the amount of inventory?",
             "default": true
            },
            {
              "type": "paragraph",
              "content": "—————————————————"
            },
            {
             "type": "checkbox",
             "id": "progress",
             "label": "Show progress bar?",
             "default": true
            },
            {
              "type": "range",
              "id": "wbar",
              "min": 40,
              "max": 100,
              "step": 1,
              "unit": "%",
              "label": "Width progress bar",
              "default": 100
            },
            {
              "type": "color",
              "id": "stock_bg_process",
              "label": "Process color",
              "default": "#f76b6a"
            },
            {
              "type": "color",
              "id": "bgten",
              "label": "Less than 10 color",
              "default": "#ec0101"
            },
            {
              "type": "color",
              "id": "stock_bg",
              "label": "Background color",
              "default": "#ffe8e8"
            }
        ]
      },
      {
        "type": "img",
        "name": "Trust Badge",
        "limit": 1,
        "settings": [
         {
           "type": "textarea",
           "id": "mess",
           "label": "Message",
           "default": "Guaranteed Safe Checkout",
           "placeholder": "Guaranteed Safe Checkout"
         },
          {
            "type": "range",
            "id": "size",
            "min": 10,
            "max": 60,
            "step": 1,
            "label": "Font size",
            "unit": "px",
            "default": 16
          },
         {
            "type": "select",
            "id": "source",
            "label": "Source IMG:",
            "default": "1",
            "options": [
              {
                "value": "1",
                "label": "Image"
              },
              {
                "value": "2",
                "label": "SVG"
              }
            ]
          },
          {
            "type": "header",
            "content": "== Image"
          },
         {
           "type": "image_picker",
           "id": "image",
           "label": "Trust seal image"
         },
         {
            "type": "select",
            "id": "al",
            "label": "Image Align",
            "default": "tl",
            "options": [
              {
                "value": "tl",
                "label": "Left"
              },
              {
                "value": "tc",
                "label": "Center"
              },
              {
                "value": "tr",
                "label": "Right"
              }
            ]
          },
          {
            "type": "range",
            "id": "wimg",
            "min": 40,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width image",
            "default": 60
          },
          {
            "type": "header",
            "content": "== SVG"
          },
         {
           "type": "textarea",
           "id": "svg",
           "label": "SVG list",
           "default": "amazon_payments,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa",
           "info": "amazon_payments,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa"
         },
        {
          "type": "range",
          "id": "height",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "Height",
          "unit": "px",
          "default": 50
        }
        ]
      },
      {
        "type": "store_avai",
        "name": "Pickup availability",
        "limit": 1,
        "settings": [
         {
            "type": "paragraph",
            "content":"Engage local shoppers by showing where items are available for pickup — right from the product page. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup)"
         }
         ]
      },
      {
        "type": "time",
        "name": "Live view",
        "limit": 1,
        "settings": [
         {
            "type": "paragraph",
            "content":"Display fake the number of people viewing your product page."
         },
         {
            "type": "select",
            "id": "icon",
            "label": "ICON / IMG:",
            "default": "2",
            "options": [
              {
                "value": "1",
                "label": "None"
              },
              {
                "value": "2",
                "label": "Icon"
              },
              {
                "value": "3",
                "label": "Image"
              }
            ]
          },
         {
           "type": "text",
           "id": "icon_name",
           "label": "Icon name",
           "default": "eye",
           "info": "[Get name icon](https://icons8.com/line-awesome)"
         },
         {
           "type": "image_picker",
           "id": "img",
           "label": "Image",
           "info": "25x25 recommend"
         },
         {
           "type": "checkbox",
           "id": "fade",
           "label": "Use fade animation?",
           "default": true
         },
         {
           "type": "range",
           "id": "min",
           "min": 1,
           "max": 100,
           "step": 1,
           "label": "MIn fake real time Visitor",
           "default": 1
         },
         {
           "type": "range",
           "id": "max",
           "min": 10,
           "max": 1000,
           "step": 10,
           "label": "Max fake real time Visitor",
           "default": 100
         },
         {
           "type": "range",
           "id": "time",
           "min": 1,
           "max": 20,
           "step": 1,
           "unit": "sec",
           "label": "Interval time",
           "default": 2
         },
         {
           "type": "textarea",
           "id": "text",
           "label": "Text",
           "default": "[count] <span class=\"cd fwm\">People<\/span> are viewing this right now"
         }
        ]
      },
      {
        "type": "sold",
        "name": "Total sold flash",
        "limit": 1,
        "settings": [
         {
            "type": "select",
            "id": "icon",
            "label": "ICON / IMG:",
            "default": "2",
            "options": [
              {
                "value": "1",
                "label": "None"
              },
              {
                "value": "2",
                "label": "Icon"
              },
              {
                "value": "3",
                "label": "Image"
              }
            ]
          },
         {
           "type": "text",
           "id": "icon_name",
           "label": "Icon name",
           "default": "fire",
           "info": "[Get name icon](https://icons8.com/line-awesome)"
         },
         {
           "type": "image_picker",
           "id": "img",
           "label": "Image",
           "info": "25x25 recommend"
         },
         {
           "type": "checkbox",
           "id": "fade",
           "label": "Use fade animation?",
           "default": true
         },
         {
           "type": "range",
           "id": "mins",
           "min": 1,
           "max": 100,
           "step": 1,
           "unit": "qty",
           "label": "Min Quantity",
           "default": 5
         },
         {
           "type": "range",
           "id": "maxs",
           "min": 10,
           "max": 110,
           "step": 1,
           "unit": "qty",
           "label": "Max Quantity",
           "default": 25
         },
         {
           "type": "range",
           "id": "mint",
           "min": 1,
           "max": 24,
           "step": 1,
           "unit": "h",
           "label": "Min Time",
           "default": 3
         },
         {
           "type": "range",
           "id": "maxt",
           "min": 1,
           "max": 24,
           "step": 1,
           "unit": "h",
           "label": "Max Time",
           "default": 24
         },
         {
           "type": "textarea",
           "id": "text",
           "label": "Text",
           "info": "[sold] sold in last [hour] hours",
           "default": "[sold] sold in last [hour] hours"
         }
        ]
      },
      /*{
        "type": "free",
        "name": "Free Shipping Text",
        "limit": 1,
        "settings": [
         {
            "type": "select",
            "id": "icon",
            "label": "ICON / IMG:",
            "default": "2",
            "options": [
              {
                "value": "1",
                "label": "None"
              },
              {
                "value": "2",
                "label": "Icon"
              },
              {
                "value": "3",
                "label": "Image"
              }
            ]
          },
         {
           "type": "image_picker",
           "id": "img",
           "label": "Icon",
           "info": "15x13 recommend"
         },
         {
           "type": "checkbox",
           "id": "fade",
           "label": "Use fade animation?",
           "default": true
         },
         {
           "type": "color",
           "id": "color",
           "label": "Color Primary",
           "default": "#0076bb"
         },
         {
           "type": "textarea",
           "id": "text",
           "label": "Shipping Text",
           "info":"Free Shipping For Over [money] to [country] [flag]",
           "default": "Free Shipping For Over $100"
         }
        ]
      },*/
      {
        "type": "order",
        "name": "Delivery Time",
        "limit": 1,
        "settings": [
         {
            "type": "paragraph",
            "content":"Display an approximate date of delivery."
         },
         {
           "type": "checkbox",
           "id": "hide_pre",
           "label": "Hide with 'pre-order'?",
           "default": true
         },
         {
            "type": "select",
            "id": "icon",
            "label": "ICON / IMG:",
            "default": "2",
            "options": [
              {
                "value": "1",
                "label": "None"
              },
              {
                "value": "2",
                "label": "Icon"
              },
              {
                "value": "3",
                "label": "Image"
              }
            ]
         },
         {
           "type": "text",
           "id": "icon_name",
           "label": "Icon name",
           "default": "truck",
           "info": "[Get name icon](https://icons8.com/line-awesome)"
         },
         {
           "type": "image_picker",
           "id": "img",
           "label": "Image",
           "info": "25x25 recommend"
         },
         {
           "type": "checkbox",
           "id": "fade",
           "label": "Use fade animation?",
           "default": true
         },
         {
           "type": "textarea",
           "id": "txt",
           "label": "Delivery Text",
           "default": "Order in the next [hour] to get it between [date_start] and [date_end]",
           "info":"Order in the next [hour] to get this to you between [date_start] and [date_end], Order in the next [hour] to get it by [date_end], Order in the next [hour] to get it soon"
         },
         {
           "type": "range",
           "id": "ds",
           "min": 0,
           "max": 99,
           "step": 1,
           "label": "Delivery Start Date",
           "info": "From Current date",
           "default": 10
         },
         {
           "type": "range",
           "id": "de",
           "min": 0,
           "max": 99,
           "step": 1,
           "label": "Delivery End Date",
           "info": "From Current date",
           "default": 15
         },
         {
           "type": "select",
           "id": "mode",
           "default": "1",
           "options": [
             {
               "value": "1",
               "label": "Only Delivery"
             },
             {
               "value": "2",
               "label": "Shipping + Delivery"
             }
           ],
           "label": "Exclude Days From"
         },
         {
           "type": "text",
           "id": "cut",
           "label": "Exclude Days",
           "default": "SAT,SUN",
           "info": "Use the 'MON','TUE','WED','THU','FRI','SAT' and 'SUN'. Separate exclude days with a comma (,)."
         },
         {
           "type": "select",
           "id": "frm",
           "default": "1",
           "options": [
             {
               "value": "1",
               "label": "Wednesday, 19th April"
             },
             {
               "value": "12",
               "label": "Wednesday, 19 April"
             },
             {
               "value": "2",
               "label": "Wednesday, 19th April 2019"
             },
             {
               "value": "3",
               "label": "Wednesday, 19th April, 2019"
             },
             {
               "value": "4",
               "label": "Wednesday, April 19th, 2019"
             },
             {
               "value": "5",
               "label": "Wednesday, April 19th"
             },
             {
               "value": "6",
               "label": "Wednesday, April 19th 2019"
             },
             {
               "value": "7",
               "label": "Wednesday, April 19"
             },
             {
               "value": "8",
               "label": "Wednesday, April 19 2019"
             },
             {
               "value": "9",
               "label": "Wednesday, 04/19/2019"
             },
             {
               "value": "10",
               "label": "Wednesday, 19/04/2019"
             },
             {
               "value": "20",
               "label": "Wednesday, 2019/04/19"
             }
           ],
           "label": "Date delivery format"
         },
         /*{
           "type": "checkbox",
           "id": "timezone",
           "label": "Use General timezone?",
           "info":"Use to display a countdown accordingly to the General timezone no matter the localtime your computer is.",
           "default": false
         },*/
         {
           "type": "text",
           "id": "time",
           "label": "Delivery Cut Off",
           "info": "Number Only(24 Hours Format - 16:00:00 Means 4PM)",
           "default": "16:00:00"
         },
         {
           "type": "text",
           "id": "hr",
           "label": "Text hours",
           "default": "hours"
         },
         {
           "type": "text",
           "id": "min",
           "label": "Text minutes",
           "default": "minutes"
         }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
            {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
            }
         ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "page",
            "id": "page",
            "label": "Content page",
            "info": "This page content will appear."
          }
        ]
      },
      {
        "type": "@app"
      },
     {
      "type": "custom_liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
     },
     {
      "type": "vendor_img",
      "name": "Brand Image",
      "limit": 1,
      "settings": [
      ]
     }/*,
      {
        "type": "tab_des",
        "name": "Collapsible Description",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Description"
          }
         ]
      },
      {
        "type": "tab",
        "name": "Collapsible tab",
        "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Collapsible tab",
            "info": "Include a heading that explains the content."
            },
            {
              "type": "richtext",
              "id": "content",
              "label": "Tab content"
            },
            {
              "type": "page",
              "id": "page",
              "label": "Tab content from page"
            }
         ]
      }*/
   ],
    "default": {
      "blocks": [
        { "type": "title" },{ "type": "pricereview" },{ "type": "des" },{ "type": "frm" },{ "type": "size" },{ "type": "meta" },{ "type": "social" }
      ]
    }
  }
{% endschema %}